
@using BlazorApp.Data

<div class="modal fade show" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" id="productName" name="productName" @bind="Product.ProductName" /> 
                    </div>
                    <div class="form-group">
                        <label for="unitPrice">Unit Price</label>
                        <input type="text" class="form-control" id="unitPrice" name="unitPrice" @bind="Product.UnitPrice" />
                    </div>
                    <div class="form-group"> 
                        <label for="descrption">Description</label>
                        <textarea  class="form-control" id="descrption" name="descrption" @bind="Product.Description"></textarea>
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="OnClose">Close</button>
                <button type="button" class="btn btn-primary" @onclick="OnSave">Save changes</button>
            </div>
        </div>
    </div>
</div> 

@code {

    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnSave { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClose { get; set; }


}
